.menu-container{
    margin-left: 180px;
    color: #000;
}
.account-create-form-main{
    border: 1px solid lightgrey;
    width: 35%;
    margin: 0 auto;
    padding: 10px 25px 0 25px;    
}

input[type=text], input[type=email], input[type=password]{
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 100%;
}
.facebook-google-bottom{
    width: 30%;
    margin: 0 auto;
}
.single-line{
    border: 1px solid lightgrey;
    height: 1px;
    width: 45%;

}
.facebook-google-bottom img{
    height: 25px;
}
.fb-logoSection-style{
    border: 1px solid lightgrey;
    border-radius: 20px 20px;
    padding: 2px 0 3px 5px;
}